{% extends 'base.html' %}
{% block title %}项目管理{% endblock %}

{% block content %}
     {% if type == 'list'%}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">用例列表</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/interface/add_case/">
                   <i class="fa fa-bug" style="font-size:23px" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="table-responsive">
            <table id="projecttable"  class="table table-striped table-sm table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th >名称</th>
                    <th >描述</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for case in testcases  %}
                    <tr>
                        <td>{{ case.id }}</td>
                        <td>{{ case.name }}</td>
                        <td>{{ case.url }}</td>
                        <td>{{ case.req_method }}</td>
                        <td>{{ case.create_time|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a href="/interface/debug_case/{{case.id}}/"><i class="fa fa-bug"fa-fw"></i></a>
                            <a href="/interface/delete_project/{{case.id}}/"><i class="fa fa-trash-o fa-fw"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
     </div>
  {% endif %}

        <!-- 调试页面 -->
        {% if type == 'add'%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                {% block add_case %}

                {% endblock %}
            </div>

        </div>
        {% endif %}
            <!-- 添加（调试）用例页面 -->
        {% if type == 'debug'%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                {% block debug_case %}
                    <!--debug_case.html-->
                {% endblock %}
            </div>
        </div>
        {% endif %}
{% endblock %}
