{% extends 'base.html' %}
{% block title %}编辑加项目{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">项目管理</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/add_project/">
                   <i class="fa fa-plus-square" style="font-size:23px" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table id="projecttable"  class="table table-striped table-sm table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th >名称</th>
                    <th >描述</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for pitem in projectlist %}
                    <tr>
                        <td>{{ pitem.id }}</td>
                        <td>{{ pitem.name }}</td>
                        <td>{{ pitem.description }}</td>
                        <td>{{ pitem.status }}</td>
                        <td>{{ pitem.creationtime|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a href="/edit_project/{{ pitem.id }}"><i class="fa fa-pencil fa-fw"></i></a>
                            <a href="/del_project/?id={{ pitem.id }}"><i class="fa fa-trash-o fa-fw"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
{#        <nav aria-label="Page navigation">#}
{#            <ul class="pagination">#}
{#                {% if projectlist.has_previous %}#}
{#                    <li class="page-item">#}
{#                        <a class="page-link" href="?page={{ projectlist.previous_page_number }}" aria-label="Previous">#}
{#                            <span aria-hidden="false">&laquo;</span>#}
{#                        </a>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li class="page-item disabled">#}
{#                        <a class="page-link">#}
{#                            <span aria-hidden="false">&laquo;</span>#}
{#                        </a>#}
{#                    </li>#}
{#                {% endif %}#}
{#                {% for pg in projectlist.paginator.page_range %}#}
{#                    {% if projectlist.number == pg %}#}
{#                        <li class="page-item active"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>#}
{#                    {% else %}#}
{#                        <li class="page-item"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                {% comment %}#}
{#                {% for pg in projectlist.paginator.page_range %}#}
{#                    {% circle_page projectlist.number pg %}#}
{#                {% endfor %}{% endcomment %}#}
{#                {% if projectlist.has_next %}#}
{#                    <li class="page-item">#}
{#                        <a class="page-link" href="?page={{ projectlist.next_page_number }}" aria-label="Next">#}
{#                            <span aria-hidden="false">&raquo;</span>#}
{#                        </a>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li class="page-item disabled">#}
{#                        <a class="page-link">#}
{#                            <span aria-hidden="false">&raquo;</span>#}
{#                        </a>#}
{#                    </li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </nav>#}
    </div>
{% endblock %}
